<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.scheduler.mapper.TaskInstanceMapper">

    <select id="queryTaskInstanceByScheduleTime" resultType="java.util.Map">
        <![CDATA[
        SELECT COUNT(*) as count, mid.state
        FROM (select ds_t.*, schedule_time from t_ds_task_instance as ds_t  left JOIN t_ds_process_instance as ds_i ON ds_t.process_instance_id = ds_i.id) as mid
        WHERE schedule_time >= TO_TIMESTAMP(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        AND schedule_time <= TO_TIMESTAMP(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        ]]>
        <if test="status != null">
            AND state = #{status}
        </if>
        <if test="projectCodes != null and projectCodes.length > 0">
            AND project_code IN
            <foreach item="item" index="index" collection="projectCodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY state
    </select>

    <select id="queryTaskInstanceByStartTime" resultType="java.util.Map">
        <![CDATA[
        SELECT COUNT(*) as count, mid.state
        FROM (select ds_t.*, schedule_time from t_ds_task_instance as ds_t  left JOIN t_ds_process_instance as ds_i ON ds_t.process_instance_id = ds_i.id) as mid
        WHERE start_time >= TO_TIMESTAMP(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        AND start_time <= TO_TIMESTAMP(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        ]]>
        <if test="status != null">
            AND state = #{status}
        </if>
        <if test="projectCodes != null and projectCodes.length > 0">
            AND project_code IN
            <foreach item="item" index="index" collection="projectCodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY state
    </select>

</mapper>
