.stats-item{
  width: 100px;
  .stats-item-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    .stats-item-icon{
      margin-right: 5px;
    }
  }
  .stats-item-value{
    font-weight: bold;
  }
}