.maintain-overview-panel-filter-by-project{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  .ant-select-selector{
    margin-left: 20px;
    width: 200px;
  }
  margin-bottom: 12px;
}
.maintain-overview-panel-filter-by-time{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  .ant-picker{
    width: 200px;
  }
  .ant-segmented.css-dev-only-do-not-override-afaeak{
    background-color: #ddd;
    margin-right: 12px;
  }
}