.maintain-overview-panel{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.maintain-overview-panel-filter-by-project, .maintain-overview-panel-filter-by-time {
  margin: 0 16px;
}
.maintain-overview-panel-filter-by-project{
  .ant-select-selector{
    width: 300px;
  }
}
.maintain-overview-panel-filter-by-time{

  .ant-picker{
    width: 300px;
  }
}